<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
        <ul class="contact-list">
          <li class="p-name">{{ site.title | escape }}</li>
          {%- if site.email -%}
          <li><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {%- endif -%}
        </ul>
      </div>

      <!-- <div class="footer-col one-half">
        <p>{{- site.description | escape -}}</p>
      </div> -->

      <!-- <div class="social-links">
        {%- include social.html -%}
      </div> -->
    </div>

  </div>

</footer>



<script src="{{ base.url | prepend: site.url }}/assets/scripts/smooth-scroll.min.js"></script>
<script>
  var scroll = new SmoothScroll('a[href*="#"]');
</script>
<script async 
  src="https://blanalytics.vercel.app/stats.js" 
  data-ackee-server="https://blanalytics.vercel.app" 
  data-ackee-domain-id="0ac20674-51a6-42bc-90dc-19ec5aa3e4eb">
</script>
