.home {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

.homePage-hero {
   background-color: #1779ba;
   background-image: linear-gradient(to left top,rgb(78,171,233),rgb(15,77,118));
   text-align: center;
   color: #f0f0f0;
   padding: 3rem 0;
 }
 @media screen and (min-width: 600px) {
   .homePage-hero {
     padding: 12rem 0;
   }
 }
 .homePage-hero-content {
   color: white;
   font-size: 1.375rem;
   margin-top: 1.5rem;
 }
 .homePage-hero-inner {
   overflow: visible;
   height: auto;
 }
 @media screen and (min-width: 600px) {
   .homePage-hero-content {
     font-size: 1.5rem;
   }
   .homePage-hero-inner {
     padding-left: 1rem;
     padding-right: 1rem;
   }
 }


.arrow, .arrow:focus, .arrow:active {
  background-color: transparent;
  border-radius: 50%;
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  display: block;
  margin: auto;
  margin-top: 2rem;
}
.arrow:hover {
  background-color: #ededed;
}
.arrow-pointer {
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  margin: auto;
  display: block;
  transform: rotate(45deg);
  border-right: 2.5px solid #a5a5a5;
  border-bottom: 2.5px solid #a5a5a5;
}
.arrow.light {
  .arrow-pointer {
    border-right: 2.5px solid white;
    border-bottom: 2.5px solid white;
  }
  &:hover {
    background-color: rgba(0,0,0,0.125);
  }
}


.aboutSection{
  padding: 3rem 1rem;
}
@media screen and (min-width: 600px) {
  .aboutSection {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}
.aboutSection-image {
  border-radius: 4px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15);
  width: 150px;
  max-width: 100%;
  margin: auto;
  display: block;
}

.aboutSection-title {
  text-align: center;
}

.aboutSection-content {
  text-align: center;
  color: #777;
}

@media screen and (min-width: 650px) {
  .aboutSection-content {
    font-size: 1.375rem;
  }
}





.skillsSection {
  overflow: auto;
  padding-bottom: 3rem;
  padding-top: 3rem;
  padding-left: .25rem;
  padding-right: .25rem;
  background-color: rgb(10, 204, 158);
  background-image: linear-gradient(to left top,rgb(55, 230, 189),rgb(10,204,158));
  border-top: 1px #eaeaea solid;
  border-bottom: 1px #eaeaea solid;
  text-align: center;
}
@media screen and (min-width: 600px) {
  .skillsSection {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
.skillsSection-columnsWrap {
  overflow: auto;
  background: white;
  border: 1px solid #e5e5e5;
  margin-bottom: 2rem;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
}
.skillsSection-column {
  display: block;
  padding: 0 .5rem 1rem .5rem;
}
@media screen and (min-width: 600px) {
  .skillsSection-column {
    padding: 0 1rem 1rem 1rem;
  }
}
.skillsSection-column:first-child {
  border-bottom: 1px solid #e5e5e5;
}
@media screen and (min-width: 600px) {
  .skillsSection-column {
    display: inline-block;
    width: 50%;
    float: left;
    padding: 0 1rem;
  }
  .skillsSection-column:first-child {
    border-right: 1px solid #e5e5e5;
    border-bottom: none;
  }
}
.skillsSection-column-header {
  text-align: center;
  margin-bottom: 0;
}
.skillsSection-column-content {
  color: #777;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.skillsSection-column-content strong{
  font-weight: 500;
  color: black;
}
.skillsSection-column-content ul {
  padding: 0;
  list-style: none;
  margin-left: 0;
}
.skillsSection-column-link {
  margin-bottom: 1rem;
  display: inline-block;
}





.workSection {
    max-width: 900px;
    margin: auto;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-bottom: 3rem;
    position: relative;
    display: block;
    overflow: visible;
  }
  @media screen and (min-width: 600px) {
    .workSection {
      padding-top: 6rem;
      margin-bottom: 6rem;
    }
  }
  .workSection-badgesWrap {
    position: relative;
    padding: 2rem 0 4rem 0;
    overflow: auto;
    margin: auto;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .workSection-badge {
    float: left;
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    align-items: center;
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
    border: 1px solid #e5e5e5;
    display: inline-block;
    margin: .5rem;
    transition: all 0.2s ease;
  }
  .workSection-badge:hover {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.09);
  }
  @media screen and (min-width: 800px) {
    .workSection-badge:nth-child(even) {
      top: 30px;
    }
  }
  .workSection-badge-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .workSection-badge-inner a {
    display: block;
    overflow: auto;
  }
  .workSection-badge-inner img {
    height: auto!important;
    max-width: 60%!important;
  }



  .resourcesSection {
  background-color: #1779ba;
  background-image: linear-gradient(to left top,rgb(78,171,233),rgb(15,77,118));
  padding-left: .25rem;
  padding-right: .25rem;
}

@media screen and (min-width: 600px) {
  .resourcesSection {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.resourcesSection-title {
  text-align: center;
  color: white;
  margin-top: 3rem;
}
.resourcesSection-subTitle {
  text-align: center;
  color: white;

}

.resource-description {
  color: #777;
}

.resource-link {
  margin-bottom: 1rem;
  display: inline-block;
}

.resource {
  background: white;
  padding: 0 1rem .5rem 1rem;
  border: 1px solid #e5e5e5;
  margin-top: 3rem;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
}

.resource:last-of-type {
  margin-bottom: 3rem;
}

@media screen and (min-width: 600px) {
  .resource {
    padding: 0 1.5rem .5rem 1.5rem;
  }
}

.contactSection-emailLink {
  display: inline-block;
  padding: .5rem 1.5rem;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
  text-decoration: none;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 18px;
  letter-spacing: -.5px;
  color: white;
  background-color: #1779ba;
  &:hover, &:focus, &:active {
    color: white;
    text-decoration: underline;
  }
}

.postsSection {
  padding: 2rem 0 3rem 0;
  border-top: 1px solid $grey-color-light;
  background: #fafafa;
  .post-list {
    padding-top: .5rem;
  }
  .post-meta {
    font-size: 80%;
    font-weight: 300
  }
  .post-meta, .post-list-excerpt {
    .post-list-read-more-link {
      font-weight: 300
    }
  }
}
