
// Set the wrapper width to 100%
.home {
  margin: 0;
  max-width: 100%;
  padding: 0;
}

/**
 * Hero section
 */

.homePage-hero {
   background-color: #1779ba;
   background-image: linear-gradient(to left top,rgb(78,171,233),rgb(15,77,118));
   text-align: center;
   color: #f0f0f0;
   padding: 3rem 0;
 }

 .homePage-hero-content {
   color: white;
   font-size: 1.375rem;
   margin-top: 1.5rem;
 }

 .homePage-hero-inner {
   overflow: visible;
   height: auto;
 }

 @media screen and (min-width: 600px) {

   .homePage-hero {
     padding: 12rem 0;
   }

   .homePage-hero-content {
     font-size: 1.5rem;
   }

   .homePage-hero-inner {
     padding-left: 1rem;
     padding-right: 1rem;
   }

 }

 /**
  * Homepage chevron (arrow) buttons
  */

.arrow, .arrow:active {
  background-color: transparent;
  border-radius: 50%;
  outline: none;
  border: none;
  width: 40px;
  height: 40px;
  padding: 0;
  display: block;
  margin: auto;
  margin-top: 2rem;
}

.arrow:hover, .arrow:focus {
  background-color: #ededed;
}

.arrow-pointer {
  position: relative;
  top: 5px;
  width: 20px;
  height: 20px;
  margin: auto;
  display: block;
  transform: rotate(45deg);
  border-right: 2.5px solid #a5a5a5;
  border-bottom: 2.5px solid #a5a5a5;
}

.arrow.light {
  .arrow-pointer {
    border-right: 2.5px solid white;
    border-bottom: 2.5px solid white;
  }
  &:hover {
    background-color: rgba(0,0,0,0.125);
  }
}

/**
 * About section
 */

.aboutSection{
  padding: 3rem 1rem;
}

.aboutSection-image {
  border-radius: 4px;
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.15);
  width: 150px;
  max-width: 100%;
  margin: auto;
  display: block;
}

.aboutSection-title {
  text-align: center;
}

.aboutSection-content {
  text-align: center;
  color: #777;
}

@media screen and (min-width: 600px) {
  .aboutSection {
    padding-top: 6rem;
    padding-bottom: 6rem;
  }
}

@media screen and (min-width: 650px) {
  .aboutSection-content {
    font-size: 1.375rem;
  }
}


/**
 * Skillz section
 */

.skillsSection {
  overflow: auto;
  padding-bottom: 3rem;
  padding-top: 3rem;
  padding-left: .25rem;
  padding-right: .25rem;
  background-color: rgb(10, 204, 158);
  background-image: linear-gradient(to left top,rgb(55, 230, 189),rgb(10,204,158));
  border-top: 1px #eaeaea solid;
  border-bottom: 1px #eaeaea solid;
  text-align: center;
}

@media screen and (min-width: 600px) {
  .skillsSection {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.skillsSection-columnsWrap {
  overflow: auto;
  background: white;
  border: 1px solid #e5e5e5;
  margin-bottom: 2rem;
  border-radius: 3px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
}

.skillsSection-column {
  display: block;
  padding: 0 .5rem 1rem .5rem;
}

.skillsSection-column:first-child {
  border-bottom: 1px solid #e5e5e5;
}

.skillsSection-column-header {
  text-align: center;
  margin-bottom: 0;
}

.skillsSection-column-content {
  color: #777;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.skillsSection-column-content strong{
  font-weight: 500;
  color: black;
}

.skillsSection-column-content ul {
  padding: 0;
  list-style: none;
  margin-left: 0;
}

.skillsSection-column-link {
  margin-bottom: 1rem;
  display: inline-block;
}

@media screen and (min-width: 600px) {
  .skillsSection-column {
    padding: 0 1rem 1rem 1rem;
    display: inline-block;
    width: 50%;
    float: left;
    padding: 0 1rem;
  }
  .skillsSection-column:first-child {
    border-right: 1px solid #e5e5e5;
    border-bottom: none;
  }
}


/**
 * Work section
 */

.workSection {
  max-width: 900px;
  margin: auto;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-bottom: 3rem;
  position: relative;
  display: block;
  overflow: visible;
}

@media screen and (min-width: 600px) {
  .workSection {
    padding-top: 6rem;
    margin-bottom: 6rem;
  }
}

.workSection-badgesWrap {
  position: relative;
  padding: 2rem 0 4rem 0;
  overflow: auto;
  margin: auto;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.workSection-badge {
  float: left;
  position: relative;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
  border: 1px solid #e5e5e5;
  display: inline-block;
  margin: .5rem;
  transition: all 0.2s ease;
}

.workSection-badge:hover {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.09);
}

@media screen and (min-width: 800px) {
  .workSection-badge:nth-child(even) {
    top: 30px;
  }
}

.workSection-badge-inner {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  a {
    display: block;
    overflow: auto;
  }

  img {
    height: auto!important;
    max-width: 60%!important;
  }

}



.resourcesSection {
  background-color: #1779ba;
  background-image: linear-gradient(to left top,rgb(78,171,233),rgb(15,77,118));
  padding-left: .25rem;
  padding-right: .25rem;
}

@media screen and (min-width: 600px) {
  .resourcesSection {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

/**
 * project examples
 */


.workSection-projectsWrap {
  overflow: auto;
  margin-top: 1rem;
  margin-bottom: 3rem;
  width: 100%;
  position: relative;
}

.workSection-project {
  max-width: 100%;
  width: 400px;
  display: block;
  margin: auto;
  margin-bottom: 3rem;
  &:last-of-type {
    margin-bottom: 1rem;
  }
}

.workSection-tools {
  hr {
    display: block;
  }
  a {
    text-decoration: none;
  }
  svg {
    position: relative;
    top: 3px;
    fill: #0f4d76;
    height: 20px;
  }
}

@media screen and (min-width: 900px) {
  .workSection-project {
    float: left;
    max-width: 33.33%;
    display: inline-block;
    margin-bottom: 1rem;
    padding: 0 .25rem;
  }
}

.workSection-project-window {
  width: 95%;
  margin: auto;
  height: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  border-radius: 3px;
  box-shadow: 0px 2px 7px 3px rgba(0,0,0,0.05);
  .workSection-project-header {
    border: .5px solid #e5e5e5;
    height: 36px;
    background: white;
    width: 100%;
    position: absolute;
    background: white;
    z-index: 1;
    .title {
      color: gray;
      font-size: 12px;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      text-align: center;
      margin: auto;
      border-radius: 4px;
      padding: 9px;
    }

    .icon {
      border-radius: 50%;
      display: inline-block;
      width: 12px;
      height: 12px;
      position: absolute;
      top: 52%;
      -webkit-transform: translate3d(0px,-50%,0px);
      -ms-transform: translate3d(0px,-50%,0px);
      transform: translate3d(0px,-50%,0px);
      background: gray;
      &.close {
        background-color: rgb(255,95,86);
        left: 11px;
      }
      &.minimize {
        background-color: rgb(255,189,46);
        left: 29px;
      }
      &.fullScreen {
        background-color: rgb(39,201,63);
        left: 47px;
      }
    }
  }

  .workSection-project-body {
    background-color: #37e6bd;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

}

.workSection-project-description {
  width: 95%;
  margin: auto;
  display: block;
  background: white;
  margin-top: 1rem;
  text-align: center;
  p, span {
    font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
    font-size: 85%;
    color: #828282;
  }
}

@media screen and (min-width: 900px) {
  .workSection-project-description {
    text-align: left;
  }
}

/**
 * Posts section
 */

.postsSection {
  padding: 2rem 0 3rem 0;
  border-top: 1px solid $grey-color-light;
  .post-list {
    padding-top: .5rem;
  }
  .post-list-heading {
    margin-bottom: .25rem;
  }
  .post-list-label {
    font-size: 1.25rem;
    font-weight: 400;
    color: #828282;
  }
}

/**
 * Contact section
 */

.contactSection-githubLink {
  display: inline-block;
  padding: .5rem 1.5rem;
  border-radius: 6px;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.05);
  text-decoration: none;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,monospace;
  font-size: 18px;
  letter-spacing: -.5px;
  color: white;
  background-color: #1779ba;
  border: 1.5px solid #1779ba;
  &:visited {
    color: white;
  }
  .github-icon {
    fill: white;
    position: relative;
    top: 3px;
  }
  &:hover, &:focus {
    color: #1779ba;
    background: white;
    text-decoration: none;
    .github-icon {
      fill: #1779ba;
    }
  }

}
