<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <div class="home">

      {{ content }}

      {%- if site.posts.size > 0 -%}
        <section id="posts" aria-labelledby="post-list-heading" class="postsSection">
          <div class="wrapper">
            <h2 id="post-list-heading" class="post-list-heading">{{ page.list_title | default: "Recent Posts" }}</h2>
            <p class="post-list-label">Highly opinionated writings about the web and front-end development.</p>
            <ul class="post-list">
              {%- for post in site.posts limit:3 -%}
              <li>
                {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                <a class="post-link" href="{{ post.url | relative_url }}">
                  <h3 class="post-list-post-title">{{ post.title | escape }}</h3>
                </a>
                <span class="post-meta">{{ post.date | date: date_format }}</span>
                {%- if site.show_excerpts -%}
                  <p class="post-list-excerpt">{{ post.excerpt | strip_html }}</p>
                {%- endif -%}
              </li>
              {%- endfor -%}
            </ul>
            <a class="post-link" href="{{ 'posts' | relative_url }}">
              View All &rarr;
            </a>
          </div>
        </section>
        <!-- <p class="feed-subscribe">
          <a href="{{ 'feed.xml' | relative_url }}">
            <svg class="svg-icon orange"><use xlink:href="{{ 'assets/minima-social-icons.svg#rss' | relative_url }}"></use></svg><span>Subscribe</span>
          </a>
        </p> -->
      {%- endif -%}

    </div>


    {%- include footer.html -%}

  </body>

</html>
